body{
    font-family: Helvetica;
}

table {
    border: 3px solid lightslategrey;
    width: 800px;
    border-radius: 10px;
    margin: 0 auto;
  }

  h1 {
      text-align: center;
      font-size: 30px;
  }

  h2 {
    text-align: center;
    font-size: 15px;
}


.title {
    padding-right: 20px;
    font-family: monospace;
    text-align: right;
    font-weight: 800;
}

td{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: lightblue;
}

th {
    /* border: 3px solid lightslategrey; */
    background-color: lightsteelblue;
    border-radius: 6px;
    margin: 0 auto;
}

header{
    text-align: center;
    font-size: 50px;
    color: midnightblue;
}